* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 5px 0px 10px 0px rgb(109, 109, 109);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    z-index: 10;
}

#homeLetter {
    padding: 3px;
    cursor: pointer;
}

#homeLetter:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

#add-to-cart-icon {
    width: 40px;
    height: 40px;
    margin-right: 60px;
    cursor: pointer;
}

#search-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

#categories {
    cursor: pointer;
    padding: 3px;
}

#categories:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}


#categoriesLetterContainer {
    display: none;
    position: absolute;
    top: 43px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px rgb(152, 152, 152);
    z-index: 10;
    flex-direction: column;
    gap: 10px;

}

#categoriesContainer:hover #categoriesLetterContainer {
    display: flex;
}

#categoryDiv {
    padding: 4px;
}

#categoryDiv:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 7px;
    margin-bottom: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#logo {
    width: 120px;
    height: 90px;
    margin-right: 560px;
    cursor: pointer;
}

#arrowIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 120px;
    cursor: pointer;
}

.ratingAndReviews {
    display: flex;
}

.ratingAndReviews .reviews {
    margin-top: 13px;
    margin-left: 10px;
    font-size: 11px;
}

.ratingDiv {
    margin-top: 8px;
    width: 70px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#cartContainer {
    margin: 150px 150px 50px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    display: flex;
    gap: 20px;
    border: 1px solid rgb(167, 164, 164);
    border-radius: 10px;
    padding: 10px;
}

.product img {
    width: 100px;
    height: 100px;
    margin-left: 15px;
}

.product .title {
    font-size: 14px;
    color: rgb(71, 69, 69);
}

.product .price {
    font-size: 20px;
    color: rgb(49, 48, 48);
}

#emptyCartletter {
    margin-top: 200px;
    text-align: center;
    color: rgb(71, 69, 69);
    font-size: 27px;
}

.product .countOfProduct {
    position: absolute;
    right: 330px;
    margin-top: 70px;
    display: flex;
    gap: 15px;
    background-color: rgb(247, 244, 240);
    padding: 5px;
    border-radius: 5px;
}

.decrease {
    cursor: pointer;
}

.increase {
    cursor: pointer;
}

#updatedPrice {
    position: absolute;
    left: 965px;
    margin-top: 75px;
    color: rgb(71, 69, 69);
}

#cartProductCount {
    position: absolute;
    background-color: red;
    right: 62.5px;
    top: 7px;
    color: white;
    border-radius: 50%;
    font-size: 11.5px;
    padding: 0px 4px;
    cursor: pointer;
    text-align: center;
}

#closeBtn {
    position: absolute;
    right: 160px;
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#closeBtn:hover {
    background-color: rgb(179, 19, 19);
}

#totalPrice {
    font-weight: bold;
    margin-bottom: 100px;
    margin-left: 870px;
    color: rgb(71, 69, 69);
}