* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 5px 0px 10px 0px rgb(109, 109, 109);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    z-index: 10;
}

#homeLetter {
    padding: 3px;
    cursor: pointer;
}

#homeLetter:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}

#add-to-cart-icon {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    cursor: pointer;
}

#search-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

#categories {
    cursor: pointer;
    padding: 3px;
}

#categories:hover {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}


#categoriesLetterContainer {
    display: none;
    position: absolute;
    top: 43px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px rgb(152, 152, 152);
    z-index: 10;
    flex-direction: column;
    gap: 10px;

}

#categoriesContainer:hover #categoriesLetterContainer {
    display: flex;
}

#categoryDiv {
    padding: 4px;
}

#categoryDiv:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 7px;
    margin-bottom: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#logo {
    width: 120px;
    height: 90px;
    margin-right: 570px;
    cursor: pointer;
}

#arrowIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 120px;
    cursor: pointer;
}

.productContainer {
    margin: 150px 100px 100px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.product {
    border: 1px solid rgb(167, 164, 164);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.product:hover {
    box-shadow: 1px 1px 7px rgb(152, 152, 152);
}

.product .name {
    font-size: 14px;
    color: rgb(71, 69, 69);
}

.product .price {
    color: rgb(49, 48, 48);
}

.product img {
    height: 190px;
    width: 190px;
}

.delivery {
    width: fit-content;
    height: fit-content;
    background-color: rgb(235, 247, 243);
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 13px;
}

.ratingAndReviews {
    display: flex;
}

.ratingAndReviews .reviews,
#reviews {
    margin-top: 13px;
    margin-left: 10px;
    font-size: 11px;
}

.ratingDiv,
#ratingDiv {
    margin-top: 8px;
    width: 70px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#searchProduct {
    margin-top: 100px;
    margin-left: 470px;
    width: 370px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
}

#searchInput {
    width: 320px;
    height: 30px;
    position: relative;
    bottom: 6px;
    font-size: 20px;
    padding: 5px;
    border: none;
    background-color: transparent;
}

#searchInput:focus {
    border: none;
    outline: none;
}


#searchInputIcon {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
}

#cartProductCount {
    position: absolute;
    background-color: red;
    right: 52.5px;
    top: 7px;
    color: white;
    border-radius: 50%;
    font-size: 11.5px;
    padding: 0px 4px;
    cursor: pointer;
    text-align: center;
}